<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aittire Forgot Password Page</title>
    <link rel="stylesheet" href="/static/css/forget.css">
</head>
<body>
    <header class="navbar">
        <a href="/" class="navbar__logoButton">
            <img class="navbar__logo" src="/static/logo_smooth_tie.svg" alt="Aittire Logo" />
            <span class="navbar__text">Aittire</span>
        </a>
        <ul class="navbar__navigation">
            <li class="navbar__navigation-item">
                <a href="#" class="navbar__link">About Us</a>
            </li>
        </ul>
    </header>

    <div class="wrapper">
        <form action="/Forget" method="POST" class="login-form">              
            <h1>Forgot Password?</h1>
            <p>Enter your email address and we'll send you a link to reset your password.</p>
            <div class="input-box">
                <input type="email" name="email" placeholder="Email address" required>
            </div>
            <button type="submit" class="btn">Send Reset Link</button>
        </form>
    </div>

    <footer class="footer">
        <div class="footer__content">
            <section class="left">
                <a class="footer__item"> Project Aittire New York 2024 </a>
                <a href="#" class="footer__item">Report a bug</a>
            </section>
            <section class="right">
                <a class="footer__item">Peter Yu, William Yang, Lucas Hobart</a>
            </section>
        </div>
    </footer>
</body>
</html>
